{% extends 'base.html' %}

{% block header %}
    {% block title %}Visualize neural network training{% endblock %}
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='autocomplete.css') }}">
<div id="lrparent">
    <div id="center">
        <h4>Load a model</h4>
        <form method="post" autocomplete="off">
            <div class="autocomplete" style="width:300px;">
                <input class="stylform"  type="text" name="model" id="model" placeholder="Trained model" required>
            </div>
            <input class="stylform"  type="submit" name="btn" value="Select model">
        </form>
    </div>
</div>

<script src="{{url_for('static', filename='autocomplete.js')}}"></script>
<script>
    autocomplete(document.getElementById("model"), {{model_list|safe}});
</script>
{% endblock %}
