{% extends 'base.html' %}

{% block header %}
    {% block title %}Visualize neural network training{% endblock %}
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='autocomplete.css') }}">
<div id="lrparent">
    <div id="center">
        <h4>Visualization parameters</h4>
        <form method="post" autocomplete="off">
            <select class="stylform" name="layer" id="layer" method="GET" action="/">
                <option value="" selected>--Please choose an layer--</option>
                {% for layer in layers %}
                <option value="{{layer}}">{{layer}}</option>"
                {% endfor %}
            </select>
            <div class="autocomplete" style="width:300px;">
                <input class="stylform"  type="text" name="model_variant" id="model_variant" placeholder="Model variant">
            </div>
            <input class="stylform"  type="submit" name="btn" value="Training graph">
        </form>
        <i>Info: 'Model Variant' is not supported yet and should be left empty</i>
    </div>
</div>

<script src="{{url_for('static', filename='autocomplete.js')}}"></script>
<script>
    autocomplete(document.getElementById("model_variant"), {{model_list|safe}});
</script>
{% endblock %}
